@charset "utf-8";

/* 영문 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
dialog,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  border: none;
  color: #111;
  box-sizing: border-box;
}

button {
  background: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
}

[class*=' xi-'],
[class^='xi-'] {
  font-family: xeicon !important;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
