@charset "utf-8";
@use '_variables' as var;
@use '_utils' as *;

/**
 * @file _index.scss => index.css
 * @description 메인 디자인
 */

body {
  color: #111;
  height: 100svh;
  font-size: 16px;
  background-color: var.$color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans KR', sans-serif;
  scrollbar-gutter: stable;
}

.main-container {
  position: relative;
  overflow: hidden;
  .inner {
    padding: 80px;
    .sec-title {
      position: relative;
      font-size: 14rem;
      color: transparent;
      -webkit-text-stroke: 2px #ccc;
      font-family: 'S-CoreDream-9Black', sans-serif;
      white-space: nowrap;
      opacity: 0;
      &.is-ready {
        opacity: 1;
      }
      span {
        display: inline-block;
        transform: translateY(-100px);
        opacity: 0;
      }
    }
  }
}
@media (max-width: var.$w-tablet) {
  .main-container {
    .inner {
      padding: 80px 40px;
    }
  }
}
@media (max-width: var.$w-mobile) {
  .main-container {
    .inner {
      padding: 60px 20px 20px;
      .sec-title {
        font-size: 25vw;
      }
    }
  }
}

/* ------------------------ HEADER ------------------------ */
.logo {
  @include position('', $type: fixed, $left: 80px, $top: 50px);
  font-size: 2rem;
  z-index: var.$z-header;
  color: var.$color-blue;
  font-family: 'S-CoreDream-9Black', sans-serif;
}

.side-menu {
  .btn-side-menu {
    display: none;
    @include position('', $type: fixed, $right: 80px, $top: 50px);
    width: 30px;
    height: 30px;
    z-index: var.$z-header-close;
    overflow: hidden;
    &::before,
    &::after,
    span {
      width: 100%;
      height: 4px;
      background-color: var.$color-black;
    }
    &::before {
      content: '';
      @include position('tl');
      transition: all 0.3s;
    }
    &::after {
      content: '';
      @include position('', $left: 0px, $top: 8px);
      transition: all 0.3s;
    }
    span {
      @include position('', $left: 0px, $top: 16px);
      transition: all 0.3s;
    }
  }
  &-content {
    @include position('', $type: fixed, $right: 80px, $top: 50px);
    text-align: right;
    z-index: var.$z-header;
    a {
      display: inline-block;
      font-size: 1.25rem;
      line-height: 1;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 1230px) {
  .logo {
    top: 40px;
    left: 40px;
  }
  .side-menu {
    .btn-side-menu {
      display: block;
      top: 40px;
      right: 40px;
      &.active {
        &::before,
        &::after,
        span {
          background-color: var.$color-white;
        }
        &::before {
          top: 11px;
          transform: rotate(45deg);
        }
        &::after {
          top: 11px;
          transform: rotate(-45deg);
        }
        span {
          transform: translateY(60px);
        }
      }
    }
    &-content {
      top: 0;
      right: 0;
      width: 30%;
      height: 100vh;
      padding: 80px 40px;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      transform: translateX(100%);
      background-color: var.$color-black;
      &.active {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        a {
          font-size: 1.3rem;
          margin-bottom: 30px;
          color: var.$color-white;
        }
      }
    }
  }
}
@media (max-width: var.$w-tablet) {
  .logo {
    top: 22px;
    left: 20px;
    font-size: 1.5rem;
  }
  .side-menu {
    .btn-side-menu {
      width: 25px;
      height: 23px;
      top: 26px;
      right: 20px;
    }
  }
}
@media (max-width: var.$w-mobile) {
  .logo {
    top: 20px;
    left: 20px;
  }
  .side-menu {
    top: 20px;
    right: 20px;
    &-content {
      width: 250px;
    }
  }
}
/* ------------------------ Hero ------------------------ */
.hero {
  &-section {
    @include position('', $top: 0, $left: 0, $right: 0);
    width: 100%;
    height: 100svh;
    perspective: 500px;
    overflow: hidden;
    z-index: 2;
  }
  &-inner {
    position: relative;
    height: 100%;
    padding: 50px;
  }
  &-title {
    @include position('', $top: 50%, $left: 80px, $translate: translateY(-50%));
    display: flex;
    align-items: center;
    em {
      display: block;
      line-height: 1;
      &:nth-child(1) {
        font-size: 1vw;
      }
      &:nth-child(2) {
        font-size: 2vw;
      }
    }
    &::before {
      content: '';
      display: block;
      width: 10vw;
      height: 3px;
      margin-right: 20px;
      background-color: var.$color-black;
    }
  }
  &-contact-box {
    @include position('', $type: fixed, $right: 50px, $bottom: 50px);
    text-align: right;
    span {
      display: block;
    }
  }
  &-design-box {
    @include position('mc');
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 30px solid var.$color-white;
    box-shadow:
      0px -10px 60px rgba(0, 0, 0, 0.5),
      0px -15px 40px rgba(255, 255, 255, 1),
      inset 0px 8px 20px rgba(0, 0, 0, 0.2),
      inset 0px -8px 20px rgba(255, 255, 255, 0.7);
    transition:
      width 0.3s,
      height 0.3s;
    .circle-wrap {
      @include position('mc');
    }
    .circle {
      &-container {
        position: relative;
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-in-text {
        position: relative;
        color: transparent;
        font-family: 'S-CoreDream-9Black', sans-serif;
        z-index: 2;
        animation: circleInText 1.5s 1s ease-out both;
      }
      &-svg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);

        circle {
          fill: none;
          stroke: #000;
          stroke-width: 4;
          stroke-dasharray: 1.01;
          stroke-dashoffset: 1;
          opacity: 0;
          animation: circleLineDraw 1s ease-out both;
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  .hero {
    &-title {
      flex-direction: column;
      gap: 10px;
    }
    &-design-box {
      width: 400px;
      height: 400px;

      .circle {
        &-svg {
          transform: scale(0.8) rotate(-90deg);
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .hero {
    &-title {
      display: none;
    }
    &-contact-box {
      bottom: 26px;
      right: 20px;
    }
  }
}
@media (max-width: var.$w-mobile) {
  .hero {
    &-design-box {
      width: 290px;
      height: 290px;
      border-width: 28px;
    }
  }
}

/* ------------------------ About ------------------------ */
.about {
  &-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    transform: scale(0.8);
  }
  &-title {
    font-size: 3rem;
    margin-top: -30px;
    margin-bottom: 20px;
    opacity: 0;
  }
  &-inner {
    &.inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      max-width: var.$w-tablet;
      width: 100%;
      padding: 80px 0;
    }
    p {
      line-height: 1.4;
      font-size: 1.3rem;
      perspective: 1000px;
      word-break: keep-all;
      opacity: 0;
      &.is-ready {
        opacity: 1;
      }
      span {
        opacity: 0;
        transform: translateY(50px);
        display: inline-block;
      }
    }
    .double-quotes {
      height: 44px;
      font-size: 7rem;
      line-height: 1;
      color: var.$color-blue;
      opacity: 0;
      font-family: 'S-CoreDream-9Black', sans-serif;
      animation: quotesFadeIn 0.2s 3s ease-out both;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      // &.quotation-top {
      //   top: 41% !important;
      // }
      // &.quotation-btm {
      //   top: 47% !important;
      // }
    }
  }
}
@media (max-width: var.$w-tablet) {
  .about {
    &-inner {
      .double-quotes {
        // &.quotation-top {
        //   top: 42% !important;
        // }
      }
    }
  }
}
@media (max-width: var.$w-mobile) {
  .about {
    &-title {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    &-inner {
      p {
        font-size: 1rem;
      }
      .double-quotes {
        font-size: 5.5rem;
        // &.quotation-top {
        //   top: 44% !important;
        // }
      }
    }
  }
}

/* ------------------------ Skill ------------------------ */
.skill {
  &-section {
    position: relative;
  }
  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-title {
    top: -180px;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 20px;
    li {
      width: calc(50% - 10px);
      &:nth-child(odd) {
        justify-self: flex-end;
        text-align: right;
      }
      &:nth-child(even) {
        text-align: left;
      }
      strong {
        display: block;
        font-size: 1.2rem;
        line-height: 1;
        font-weight: 700;
        opacity: 0;
        color: var.$color-blue;
      }
      p {
        word-break: keep-all;
        opacity: 0;
      }
    }
  }
}
@media (max-width: var.$w-mobile) {
  .skill {
    &-title {
      top: -150px;
    }
    &-list {
      li p {
        padding: 4px 0;
        line-height: 1.1;
      }
    }
  }
}

/* ------------------------ Experience ------------------------ */
.experience {
  &-title {
    top: 0;
    right: -30%;
    color: #ddd;
    font-family: 'S-CoreDream-9Black', sans-serif;
  }
  &-swiper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 200px 0 100px;
    overflow: hidden;
    .swiper-button-prev,
    .swiper-button-next {
      top: calc(50% + 220px);
      width: auto;
      height: auto;
      svg {
        display: none;
      }
      &::before {
        font-size: 2rem;
        color: var.$color-blue;
        border-radius: 100%;
      }
    }
    .swiper-button-prev {
      left: 50%;
      transform: translateX(calc(90% - 10vw));
    }
    .swiper-button-next {
      right: 50%;
      transform: translateX(calc(90% + 2vw));
    }
    .swiper-pagination {
      top: 60px;
      left: 0;
      bottom: auto;
      right: auto;
      width: auto;
      text-align: left;
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: bold;
      z-index: 2;
      .swiper-pagination-bullet {
        display: block;
        width: auto;
        height: auto;
        margin: 10px 0;
        background-color: transparent;
      }
    }
    .swiper-slide {
      padding: 40px;
      height: 800px;
      .slide-inner {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
      .experience {
        &-img-box {
          display: block;
          flex-shrink: 0;
          width: 800px;
          height: 500px;
          margin-top: 30px;
          margin-left: 15%;
          opacity: 0;
          transform: rotateY(90deg);
          transition: all 0.3s;
          img {
            height: 100%;
            object-fit: cover;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
          }
        }
        &-info-box {
          @include position('br');
          padding: 20px;
          width: 40%;
          opacity: 0;
          border-radius: 20px;
          transition: all 0.3s;
          background-color: var.$color-white;
          .company {
            font-size: 2rem;
            margin-bottom: 30px;
          }
          ul {
            li {
              display: flex;
              margin: 4px 0;
              font-size: 1.1rem;
              span {
                margin-right: 6px;
                white-space: nowrap;
              }
              i {
                margin-right: 6px;
                color: var.$color-blue;
              }
            }
          }
          .btn-open {
            margin-top: 20px;
          }
          .tag_word {
            margin-top: 8px;
            font-size: 0.9rem;
            em {
              display: inline-block;
              padding: 2px 5px 4px;
              margin-right: 6px;
              margin-bottom: 5px;
              line-height: 1;
              color: var.$color-gray;
              border-radius: 4px;
              border: 1px solid var.$color-gray;
            }
          }
        }
      }
      &-active {
        .experience {
          &-img-box {
            opacity: 1;
            transform: rotateY(0deg);
          }
          &-info-box {
            opacity: 1;
            transform: rotateY(0deg);
          }
        }
      }
    }
  }
}
@media (max-width: var.$w-tablet) {
  .experience {
    &-title {
      top: -100px;
      right: -5%;
    }
    &-swiper {
      margin: 50px 0;
      .swiper-button-prev,
      .swiper-button-next {
        top: 470px;
      }
      .swiper-button-prev {
        transform: translateX(calc(50% - 94px));
      }
      .swiper-button-next {
        transform: translateX(calc(50% + 64px));
      }
      .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        gap: 10px;
        .swiper-pagination-bullet {
          flex-shrink: 0;
        }
      }
      .swiper-slide {
        height: auto;
        padding: 80px 40px 20px;
        .experience {
          &-img-box {
            margin: 0;
            text-align: center;
            width: 100%;
            height: 350px;
          }
          &-info-box {
            position: static;
            width: 100%;
            padding-top: 50px;
          }
        }
        &-active {
          .experience {
            &-info-box {
              background-color: transparent;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

@media (max-width: var.$w-mobile) {
  .experience {
    &-swiper {
      margin: 20px 0 50px;
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
      .swiper-pagination {
        top: 10px;
        font-size: 1rem;
        flex-wrap: wrap;
        gap: 6px 10px;
        .swiper-pagination-bullet {
          margin: 0;
        }
      }
      .swiper-slide {
        padding: 70px 0 0;
        .experience {
          &-img-box {
            height: 200px;
          }
          &-info-box {
            padding: 0;
            width: 100%;
            .company {
              font-size: 1.4rem;
              margin-top: 20px;
              margin-bottom: 10px;
            }
            ul {
              li {
                font-size: 0.9rem;
              }
            }
            .tag_word {
              font-size: 0.7rem;
            }
            .btn-open {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

/* ------------------------ footer ------------------------ */
footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 50vh;
  background-color: var.$color-black;
  color: var.$color-white;
  overflow: hidden;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  address {
    a {
      color: var.$color-white;
    }
  }
  p {
    margin-top: 20px;
    color: var.$color-gray;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  small {
    display: inline-block;
    color: #666;
    line-height: 1.3;
    margin-top: 10px;
  }
}

/* ------------------------ Modal ------------------------ */
.btn-open {
  margin-right: 10px;
  padding: 5px 10px 2px;
  line-height: 2;
  font-weight: 700;
  color: var.$color-white;
  border-radius: 4px;
  background-color: var.$color-blue;
  box-shadow: 0 4px 14px rgba(44, 14, 214, 0.3);
}

.modal {
  &-overlay {
    all: unset;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: var.$z-modal;
    &[open] {
      display: flex;
    }
  }
  &-container {
    background: white;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
    min-height: 400px;
    max-height: 90%;
    width: 1000px;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  &-content {
    display: none;
    padding: 50px;
    &.active {
      display: block;
    }
  }
  &-header {
    h2 {
      font-size: 1.5rem;
      line-height: 1.1;
      color: var.$color-blue;
    }
  }
  &-body {
    .summary-box {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .work {
      &-point-content {
        margin-bottom: 30px;
        h3 {
          color: var.$color-orange;
        }
      }
      &-content {
        display: flex;
        gap: 40px;
        padding: 30px 0;
        border-top: 2px solid var.$color-black;
      }
      &-title {
        flex-shrink: 0;
        width: 300px;
        padding-left: 22px;
        text-indent: -22px;
        h3 {
          word-break: keep-all;
        }
      }
    }
    .img-box {
      margin-top: 20px;
      img {
        display: block;
        width: 100%;
      }
    }
    .detail-list {
      flex: 1 auto;
      li {
        font-size: 0.9rem;
        & + li strong {
          margin-top: 30px;
        }
      }
      strong {
        display: block;
        margin-bottom: 6px;
        font-size: 1rem;
      }
    }
  }
}
.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 1020px) {
  .modal {
    &-body {
      .work {
        &-title {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: var.$w-mobile) {
  .close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .modal {
    &-overlay {
      padding: 0;
    }
    &-container {
      max-height: 100%;
      width: 100%;
      padding: 0;
      border-radius: 0;
    }
    &-content {
      padding: 60px 20px 20px;
    }
    &-body {
      .work {
        &-content {
          display: block;
          width: 100%;
        }
        &-title {
          width: 100%;
          padding-left: 0;
          text-indent: 0;
        }
      }
      .img-box {
        margin-top: 6px;
        margin-bottom: 20px;
      }
      .detail-list {
        li {
          & + li strong {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
